@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

/* .App {
  background-color: #f5f3f7;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
} */
#F59E0B
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.navbar-link {
  color: black;
  font-size: 1.275rem;
  font-weight: 500;
  padding: 3px 2px;
  text-decoration: none;
  position: relative;
}

.navbar-link:after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: rgba(236, 72, 153, 1);
  opacity: 0.6;
  transition: width 0.6s ease 0s, opacity 0.6s ease 0s;
  width: 0;
}

.navbar-link:hover:after {
  width: 100%;
  opacity: 0.9;
}

.active-class {
  color: rgba(236, 72, 153, 1);
}
